<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-10">
      <h2 class="text-secondary ms-2 mt-2">
        <span *ngIf="showGenerateBill"
          ><span style="color: #673ab7">Create</span> bill</span
        >
        <span *ngIf="!showGenerateBill"
          >All <span style="color: #673ab7">bills</span></span
        >
      </h2>
    </div>
    <div class="col text-end">
      <button mat-flat-button (click)="toggleShow()" color="primary">
        <mat-icon *ngIf="showGenerateBill">list_alt</mat-icon>
        <mat-icon *ngIf="!showGenerateBill">create</mat-icon>
      </button>
    </div>
  </div>
  <hr />
  <div class="result">
    <div class="create-bill" *ngIf="showGenerateBill">
      <app-generate-bill></app-generate-bill>
    </div>
    <div class="all-bills" *ngIf="!showGenerateBill">
      <app-bill-info></app-bill-info>
    </div>
  </div>
</div>
