<div class="container-fluid">
  <div class="row">
    <div class="col d-md-none d-block">
      <img src="../../assets/page-not-found.png" alt="" class="img-fluid" />
    </div>
    <div class="col-md" id="pageNotFoundText">
      <h1 class="text-center align-middle text-secondary">
        <span class="h1" style="color: #673ab7">4</span>
        <mat-icon
          style="font-size: 2rem; height: 2rem; width: 2rem"
          color="primary"
          >location_searching</mat-icon
        >
        <span class="h1" style="color: #673ab7">4</span>
      </h1>
      <p class="text-secondary text-center">
        Sorry, it looks like we aren't cool enough to find what you are seeking
        out
      </p>
    </div>
    <div class="col-md-7 d-md-block d-none">
      <img src="../../assets/page-not-found.png" alt="" class="img-fluid" />
    </div>
  </div>
</div>
