nav {
  background: rgba(248, 249, 250, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

a {
  padding-right: 1rem;
  text-decoration: none;
  color: #fff;
}

.active {
  color: #673ab7 !important;
}
