<nav class="navbar fixed-top navbar-expand-md navbar-light p-2 py-3">
  <div class="container-fluid">
    <img src="../../assets/biller's-icon.png" alt="biller-logo" height="28" />
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleChange()"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon *ngIf="!isExpanded" style="transform: scale(1.2)"
        >menu</mat-icon
      >
      <mat-icon *ngIf="isExpanded" style="transform: scale(1.2)"
        >close</mat-icon
      >
    </button>
    <!-- If Logged in -->
    <div
      class="collapse navbar-collapse"
      *ngIf="this.cookies.get('token').length > 0"
      id="navbarNav"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/dashboard"
            routerLinkActive="active"
            id="dashboard"
            aria-current="page"
            >DashBoard</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="all-bills"
            routerLink="/bill"
            routerLinkActive="active"
            >Bills</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="customers"
            routerLink="/customers"
            routerLinkActive="active"
            >Customers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="products"
            routerLink="/products"
            routerLinkActive="active"
            >Products</a
          >
        </li>
      </ul>
    </div>
    <!-- If not logged in then -->
    <div
      class="collapse navbar-collapse"
      *ngIf="!(this.cookies.get('token').length > 0)"
      id="navbarNav"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            id="homePage"
            routerLink="/home"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="login"
            routerLink="/login"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="help"
            routerLink="/help"
            routerLinkActive="active"
            >Need Help?</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />
<br />
<br />
<br />
