<div class="container-fluid h-100 mt-2">
  <div class="row">
    <div class="col-md mt-3 ms-2">
      <h2 class="text-secondary">
        <span style="color: #673ab7">Customer</span> List
      </h2>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" style="width: 95%">
        <mat-label>Search Customer</mat-label>
        <input
          matInput
          placeholder="Search Customer Detail"
          [(ngModel)]="searchText"
        />
        <button mat-button matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div
    class="result"
    *ngIf="(customerList | filter: searchText).length > 0; else noResults"
  >
    <div
      class="products d-flex justify-content-center"
      *ngFor="let customer of customerList | filter: searchText; let index"
    >
      <div class="card mb-3 p-3" style="width: 94%">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3
                class="card-title mb-1"
                style="margin-bottom: 0; color: #673ab7"
              >
                {{ customer.customerId }}: {{ customer.customerName }}
              </h3>
              <h4 class="card-subtitle mb-2 text-muted">
                Address: {{ customer.customerAddress }},
                {{ customer.customerCity }}
              </h4>
            </div>
            <div class="col-5 text-end">
              <h4 style="margin-bottom: 0">
                GST Number: {{ customer.customerGST }}
              </h4>
              <h4 style="margin-bottom: 0">
                Contact Number: {{ customer.customerNumber }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noResults>
    <p class="d-flex justify-content-center lead">No customers found</p>
  </ng-template>
  <form
    #customer="ngForm"
    (submit)="newCustomer(customer.value)"
    id="fab-form"
    *ngIf="isFormOpen"
    method="post"
  >
    <div class="alert alert-{{ alertType }}" *ngIf="isAlert" role="alert">
      {{ alertMessage }}
    </div>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Customer Name</mat-label>
      <input
        matInput
        placeholder="Customer Name"
        name="customerName"
        #customerName="ngModel"
        required
        ngModel
      />
    </mat-form-field>
    <div class="row">
      <div class="col-7">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Customer Address</mat-label>
          <input
            matInput
            placeholder="Customer Address"
            name="customerAddress"
            #customerAddress="ngModel"
            required
            ngModel
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>City</mat-label>
          <input
            matInput
            placeholder="City"
            name="city"
            #city="ngModel"
            required
            ngModel
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Customer Phone Number</mat-label>
          <input
            matInput
            type="number"
            minlength="10"
            placeholder="Customer Phone Number"
            name="customerNumber"
            #customerNumber="ngModel"
            required
            ngModel
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Customer GST</mat-label>
          <input
            matInput
            placeholder="Customer GST"
            name="customerGST"
            #customerGST="ngModel"
            required
            ngModel
          />
          <mat-hint>Excluding GST</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <button
      style="width: 100%; margin-bottom: 1rem; margin-top: 1rem"
      mat-flat-button
      color="primary"
    >
      Add
    </button>
  </form>
  <button
    id="fab"
    (click)="toggleFormStatus()"
    mat-fab-bottom-right
    mat-fab
    color="primary"
  >
    <mat-icon *ngIf="isFormOpen">close</mat-icon>
    <mat-icon *ngIf="!isFormOpen">add</mat-icon>
  </button>
</div>
