<div class="container">
  <div class="row">
    <div class="col-md">
      <img
        class="img-fluid"
        src="../../assets/authentication.png"
        alt="authentication-image"
      />
    </div>
    <div class="col-md">
      <div class="mb-3 pt-md-4 mt-md-5" *ngIf="!isAlert"></div>
      <div class="mb-3 mt-md-4" *ngIf="isAlert"></div>
      <div *ngIf="isAlert" class="alert alert-{{ alertType }}" role="alert">
        {{ alertMessage }}
      </div>
      <h2 class="text-secondary">Welcome Back</h2>
      <h4 class="text-secondary lead mb-2">
        Please enter your credentials to access your account
      </h4>
      <hr />
      <form #login="ngForm" (submit)="loginData(login.value)" method="post">
        <mat-form-field appearance="outline" class="mb-2" style="width: 100%">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Username"
            name="username"
            #username="ngModel"
            ngModel
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mb-2" style="width: 100%">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            name="password"
            type="password"
            #password="ngModel"
            ngModel
            required
          />
          <mat-hint>Note: Your login will be valid only for 1 hour</mat-hint>
        </mat-form-field>
        <div class="row mt-2">
          <div class="col">
            <a routerLink="/signup">Create new account </a>
          </div>
          <div class="col d-flex justify-content-end">
            <a routerLink="/forgot-password" style="color: #ff5252">
              Forgot Password?</a
            >
          </div>
        </div>
        <button class="mt-4 w-100" color="primary" mat-flat-button>
          Login
        </button>
      </form>
    </div>
  </div>
</div>
