<div class="design-1"></div>
<div class="design-2"></div>
<div class="container">
  <div class="row">
    <div class="col-md d-block d-md-none">
      <img src="../../assets/landing-page.png" alt="" class="img-fluid" />
    </div>
    <div
      class="col-md mt-md-3 pt-md-3 text-center text-md-start pt-md-5"
      id="landing-page-text"
    >
      <h2 class="px-md-5">
        A
        <span style="color: #673ab7; font-weight: 600"
          >better and efficient</span
        >
        <br />
        way to grow your
        <span style="color: #673ab7; font-weight: 600">business</span>
      </h2>
      <h4 class="text-secondary px-md-5">
        A place created just for your preneur mind, to keep track of all your
        business transactions and also file the taxes without any delay
      </h4>
      <button
        class="mx-md-5"
        (click)="routeTo('/signup')"
        mat-flat-button
        color="primary"
      >
        Get Started
      </button>
    </div>
    <div class="col-md d-none d-md-block">
      <img
        src="../../assets/landing-page.png"
        alt=""
        height="500"
        class="img-fluid"
      />
    </div>
  </div>
</div>
<div class="features">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-secondary">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
